example.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Перечисление для пола -->
    <xs:simpleType name="GenderType">
        <xs:annotation>
            <xs:documentation>Тип для представления пола человека</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="MALE"/>
            <xs:enumeration value="FEMALE"/>
            <xs:enumeration value="OTHER"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Перечисление для статуса -->
    <xs:simpleType name="StatusType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTIVE"/>
            <xs:enumeration value="INACTIVE"/>
            <xs:enumeration value="PENDING"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Сложный тип для адреса -->
    <xs:complexType name="AddressType">
        <xs:annotation>
            <xs:documentation>Тип для представления адреса</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="street" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Улица</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="city" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Город</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="postalCode" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Почтовый индекс</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="country" type="xs:string" default="Russia"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Сложный тип для человека -->
    <xs:complexType name="PersonType">
        <xs:annotation>
            <xs:documentation>Тип для представления информации о человеке</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="id" type="xs:int"/>
            <xs:element name="firstName" type="xs:string"/>
            <xs:element name="lastName" type="xs:string"/>
            <xs:element name="age" type="xs:int" minOccurs="0"/>
            <xs:element name="gender" type="GenderType"/>
            <xs:element name="email" type="xs:string" maxOccurs="unbounded"/>
            <xs:element name="address" type="AddressType" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="status" type="StatusType" use="optional"/>
        <xs:attribute name="isVerified" type="xs:boolean" use="optional" default="false"/>
    </xs:complexType>

    <!-- Корневой элемент -->
    <xs:element name="Person" type="PersonType"/>

</xs:schema>
